
/* Universal Styling */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* Layout Styling */
.container {
    display: grid;
    grid-template-rows: 1fr 6fr;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "header"
    "content";
    width: 100vw;
    height: 100vh;

}



#header {
    grid-area: header;
    background-color: #F9EBD7;
    border-bottom: 4px solid black;
    
}

#content {
    display: flex;
    grid-area: content;
    background-color: #D9E3F7;
    
}